<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="widowx_arm">

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/widowx_arm</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <!--transmissions-->
    <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="gripper_prismatic_joint_1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="gripper_prismatic_joint_2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor7">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>


  <!--Gazebo compatable colors-->
  <!--Arm-->
  <gazebo reference="arm_base_link">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="shoulder_link">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="biceps_link">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="forearm_link">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="wrist_1_link">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="wrist_2_link">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="gripper_rail_link">
    <mu1>0.6</mu1>
    <mu2>0.6</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="gripper_1_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="gripper_2_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

    <!-- Joint state publisher plugin -->
  <gazebo>
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
        <robotNamespace>widowx_arm</robotNamespace>
        <jointName>joint_1, joint_2, joint_3, joint_4, joint_5, gripper_prismatic_joint_1, gripper_prismatic_joint_2</jointName>
        <updateRate>100</updateRate>
    </plugin>
  </gazebo>


</robot>