<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="widowx_arm">
<xacro:include filename="$(find widowx_arm_description)/urdf/common_materials.xacro" />

	<link name="world"/>

	<link name="base_footprint">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.001 0.001 0.001" />
			</geometry>
		</visual>
	</link>
	
	<joint name="fixed" type="fixed">
    	<origin xyz="0 0 0" rpy="0 0 0"/>
    	<parent link="world"/>
    	<child link="base_footprint"/>
  	</joint>

	<xacro:include filename="$(find widowx_arm_description)/urdf/widowx.urdf.xacro"/>
	<xacro:widowx_arm parent="base_footprint">
    	<origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:widowx_arm>

	<xacro:include filename="$(find widowx_arm_description)/urdf/gazebo_plugins.xacro"/>

</robot>
